Требования
Проект: «мгновение» (jiff)
Результат: 
	В любой точке мира, где есть интернет я могу планировать и учитывать своё личное и рабочее время, а также контролировать затраты времени других пользователей, и групп пользователей. 
Дополнительно: 
	
